#!/usr/bin/make -f

package = libnginx-mod-brotli

%:
	dh $@

clean:
	dh_testdir
	dh_testroot
	dh_clean
	rm -rf $(CURDIR)/objs

override_dh_auto_configure:
	./configure --add-dynamic-module=../ngx_brotli --with-compat

override_dh_auto_build:
	make modules
